CSS

body {
  background-color: #C3D1EB;
  margin: 0;
  padding: 0;
}

.logotipo img {
  width: 100px;
  height: 100px;
  margin-right: 190px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  color: none;
}

.navbar {
  font-family: poppins;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #213A5C;
  font-size: 18px;
}

.hero {
  width: 100%;
  height: 450px;
  background-image: url(imagens/banner.png);
  background-size: cover;
  background-position: center 34%;
  background-repeat: no-repeat;
  display: block;
}

.span {
  color: #444A54;
}

.welcome-section {
  display: flex;
  align-items: center;
  background:#213A5C;
  padding: 25px 60px;
  width: calc(100% - 0px);
  box-sizing: border-box;
}

.welcome-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.welcome-content h2 {
  font-size: 34px;
  font-weight: 700;
  color: #0b131f;
  margin: 0;
  letter-spacing: 1px;
  white-space: nowrap;
}

.welcome-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  max-width: 700px;
  margin: 0;
}

.skills {
  text-align: center;
  width: 200px;
  font-family: Arial, sans-serif;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background:#a5bbcc;
  border: 3px solid #a5bbcc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 15px auto;
}

.skills {
  display: inline-block;
  justify-content: center;
  gap: 80px;
  padding: 0 60px;
}

.circle {
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.our-services {
  padding: 0 60px;
}

button {
  background-color: #213A5C;
  color:#fff;
  border: 2px, solid #213A5C;
  padding: 8px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #213A5C;
  color: #fff;
}

.services-sections {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url('imagens/banner2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 40px 20px;
  margin-top: 30px;
  color: #213A5C;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service-item {
  flex: 1;
  max-width: 350px;
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-item .icon {
  font-size: 60px;
  color: #213A5C;
  margin-bottom: 25px;
  display: block;
}

.service-item h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.service-item p {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.85;
}

.services-header {
  display: flex;
  align-items: left;
  gap: 15px;
}

.services-header h2 {
  margin: 0;
}

.services-header h4 {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

.projeto1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.our-projects {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.our-services h4 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  margin: 10px auto;
  text-align: center;
}

.projects p {
  max-width: 260px;
  text-align: left;
  line-height: 1.4;
  margin: 9;
}

.our-projects h2 {
  color:#213A5C;
  font-size: 30px;
  font-family: josefin-sans;
}

.get-in-touch {
  background: #1a1a1a;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("imagens/banner_tubos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 20px; 
  text-align: center;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.get-in-touch h2 {
  font-size: 28px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-weight: 600;
}

.get-in-touch p {
  font-size: 14px;
  color: #fff;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto 35px auto;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 23px;
  font-size: 20px;
}

.icons a {
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

.icons a:hover {
  background: #213A5C;
  color: #111;
}

.our-services h4 {
  text-align: left;
}

.navbar {
  font-family: 'Rubik';
}

.icons a {
  text-decoration: none;
}

.imagem-modal{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  justify-content:center;
  align-items:center;
}

.imagem-modal img{
  max-width:80%;
  max-height:80%;
  border-radius:10px;
}

.fecharImagem{
  position:absolute;
  top:30px;
  right:40px;
  font-size:40px;
  color:white;
  cursor:pointer;
}

.servico {
  position: relative;
  padding: 15px;
  display: inline-block;
  margin: 0 10px;
}

.modal-content h3 {
    display: block;
}